<a href="https://colab.research.google.com/github/manishareddynarayan/Manisha_INFO5731_Fall2021/blob/main/In_class_exercise_01_ManishaN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here

strng=input("Enter the string to find it's length: ")
print(len(strng))

enter the string to find it's length how r u
7

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
exampleStr = "shopclues.com"
freqChars = {}
  
for i in exampleStr:
    if i in freqChars:
        freqChars[i] += 1
    else:
        freqChars[i] = 1
print ("Count of all characters in the given format is :\n "
                                        +  str(freqChars))

Count of all characters in the given format is :
 {'s': 2, 'h': 1, 'o': 2, 'p': 1, 'c': 2, 'l': 1, 'u': 1, 'e': 1, '.': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
exmpList=[2,97,87,55,28,32,1]
totalSum=sum(exmpList)
print(totalSum)

302

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
myList = []
strng=input("Enter String: ")
for char in strng:
    if char in myList:
        myList.append('$')
    else:
        myList.append (char)
print(''.join(str(i) for i in myList))

Enter String: kettle
ket$l$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
valA=input ("Enter value for a: ")
valB=input ("Enter value for b: ")
S=3.14*(1+(float(valA)/float(valB)))**3
print (S)

Enter value for a: 10.89
Enter value for b: 10.99
24.778700351181318

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dict1={1:11, 2:22}
dict2={3:"hi", 4:44}
dict3={5:55,6:"you"}
dict4={}
for a in (dict1,dict2,dict3): dict4.update(a)
print(dict4)

{1: 11, 2: 22, 3: 'hi', 4: 44, 5: 55, 6: 'you'}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
testTuple = (300, 90, 11, 67, 92)
testValue = 67
result = testValue in testTuple
print("Is element present in tuple? : " + str(result))

Is element present in tuple? : True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
sampleSet={"3509","3528","566187","2912","29" }
print("Maximum from sampleset: " + max(sampleSet))
print("Minimum from sampleset: " + min(sampleSet))

Maximum from sampleset: 566187
Minimum from sampleset: 29

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [ ]:
# write your answer here
import random
studentList =  ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
for i in range(4):
  values = random.choices(studentList,k=6)
  studentList=[i for i in studentList if i not in values]
  print("Group " + str(i+1)+ " students are: " , values)

Group 1 students are:  ['ss1995', 'vmb0067', 'yye0005', 'ri0094', 'pn0159', 'sg0940']
Group 2 students are:  ['pc0353', 'dy0091', 'py0080', 'bk0301', 'dy0091', 'ttp0037']
Group 3 students are:  ['pk0339', 'vl0135', 'at0739', 'rrk0058', 'dd0420', 'nm0547']
Group 4 students are:  ['hn0145', 'msp0174', 'rak0120', 'tv0119', 'spk0057', 'msp0174']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [2]:
# write your answer here
def Repeat(x): 
    _size = len(x) 
    repeated = []
    c=0 
    for i in range(_size): 
        k = i + 1
        for j in range(k, _size): 
            if x[i] == x[j] and x[i] not in repeated: 
                repeated.append(x[i])
                c=c+1
    if c>1:
     return repeated 
    else: 
     return -1
list1 = [120,73,120, 220, 10,  
         50, 73, 290] 
print (Repeat(list1))

[120, 73]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta

def all_sundays(year):

       dateNow = date(year, 1, 1)
     
       dateNow += timedelta(days = 6 - dateNow.weekday())  
       while dateNow.year == year:
          yield dateNow
          dateNow += timedelta(days = 7)
          
for sunday in all_sundays(2016):
   print(sunday)

2016-01-03
2016-01-10
2016-01-17
2016-01-24
2016-01-31
2016-02-07
2016-02-14
2016-02-21
2016-02-28
2016-03-06
2016-03-13
2016-03-20
2016-03-27
2016-04-03
2016-04-10
2016-04-17
2016-04-24
2016-05-01
2016-05-08
2016-05-15
2016-05-22
2016-05-29
2016-06-05
2016-06-12
2016-06-19
2016-06-26
2016-07-03
2016-07-10
2016-07-17
2016-07-24
2016-07-31
2016-08-07
2016-08-14
2016-08-21
2016-08-28
2016-09-04
2016-09-11
2016-09-18
2016-09-25
2016-10-02
2016-10-09
2016-10-16
2016-10-23
2016-10-30
2016-11-06
2016-11-13
2016-11-20
2016-11-27
2016-12-04
2016-12-11
2016-12-18
2016-12-25